
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root{
    --black-color: #1e1717;
    --maroon-color: #3f1111;
    --green-color: #1d4428;
    --golden-color: #775914;
}

body{
  background-color: var(--green-color);
}

.categories{
  display: flex;
  gap: 1rem;
  overflow: hidden;
  margin: 10px;
}
.blog-categories{
  flex: 1; 
  width: 100%;
  height: auto; 
  object-fit: cover;
}
.blogLink{
  background-color: aliceblue;
  color: #6b5012;
  padding:0 10px;
  height: 40px;
  border: 3px solid var(--golden-color);
  font-size: medium;
  cursor: pointer;
  
}

.sizeChange{
  animation: sizeChange 3s linear infinite alternate;

}

.categories h2{
  color: aliceblue;
}

@media (max-width: 850px) {
  .categories{
    flex-direction: column;
  }
}

@keyframes sizeChange {
  0% {
      width: 100px;
      height: 40px;
  }
 
  100% {
      width: 120px;
      height: 50px;
  }
}


/* wisdom page */

.wisdom-main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}
.content {
  flex: 1;
  padding: 10px;
}